<html>
  <head></head>
  <body>
    <h1>Following are the titles of given websites:</h1>

    <ul>
      <% titles.forEach( ele => { %>
      <li><%= ele %></li>
      <% }) %>
    </ul>
  </body>
</html>
